body{
  height:860px;
  margin:auto;
  max-width:1200px;
}
header{
  height:85px;
  background-color: red;
  border: 15px solid white;
  border-bottom: 0px;
  border-top-right-radius: 10px;
  border-top-left-radius:  10px;
  min-width: 600px;
}

#logo{
  float: left;
  width: 40%;
  margin-left: 10%;
}
header h2{
  color:white;
  float:right;
  margin-right: 3%;
}
#main{
  width: 100%;
  min-width: 600px;
  height: 740px;
}
#chat{
  width: calc(20% - 30px);
  height: 100%;
  float: right;
  border:15px solid white;
  background-color: rgba(255,0,0,1);
  margin:0;
  border-bottom: 0px;
}
#score{
  width: calc(20% - 30px);
  height: 100%;
  float: left;
  border:15px solid white;
  background-color: rgba(255,0,0,1);
  margin:0;
  border-bottom: 0px;
}
#play{
  width: 60%;
  height: 100%;
  margin:0 auto;
}
#guess{
  height: calc(50% - 10px);
  background-color:navy;
  border:15px solid white;
  border-bottom: 0px;
  margin:0;
}
#piece{
  height: calc(50% - 10px);
  background-color: navy;
  border:15px solid white;
  margin:0;
  border-bottom: 0px;
}
div{
  height: calc(10% - 4px);
  width: calc(10% - 4px);
  float:left;
  background-color: #0000FF;
  margin:0 auto;
  border: 2px solid #00007A;
}
img{
  height: 100%;
  width: 100%;
}

