body{
  background-color: #2c3e50;
  color:white;
}
.navbar{
  background-color: #344953;
  border-radius: 0;
  color:white;
}
#head{
  text-align: center;
  background-color: #3498db;
  margin-right: 0px ;
  margin-left: 0px;
}

#head h1{
  font-size: 5em;
  color:white;

}
#head a{
  text-decoration: none;
}
#chatbox{
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
  height: 490px;
  background-color: #3498db;
  color:black;
}
#messagesDiv{
  padding-top:10px;
}

.box{
  height: 150px;
  width: 100%;
  background-color: #3498db;
  margin-top:20px;
  font-size: 8em;
  text-align: center;
}
#local, #network, #compute{
  background-color: #3498db;
  height:100%;
  font-size: 8em;
  text-align: center;
  margin-top: 20px;
}

#foot, #lfoot, #cfoot{
  background-color: #3498db;
  font-size: 2em;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
}

